footer
	div.row
		div.col-md-4
			ul
			p Ubícanos:
				li
					span Dirección: Calle 40 # 41-54 .
				li
					a(href="mailto:guillermo.castillo.patino@correounivalle.edu.co" class="glyphicon glyphicon-envelope")
						| guillermo.castillo.patino@correounivalle.edu.co
				li
					a(href="mailto:andrea.mora@correounivalle.edu.co" class="glyphicon glyphicon-envelope")
						| andrea.mora@correounivalle.edu.co
		div.col-md-4
			u1
			p Entregado a:
				li 	   JONATHAN ALMACHE MONTOYA 
				li FACULTAD INGENIERÍA DE SISTEMAS
				li    UNIVERSIDAD DEL VALLE
				li             2015
		div.col-md-4
			ul
			p Desarrollado por
				li Guillermo Castillo Patiño
				li Cod: 1153524
				li Andrea Mora Ospina
				li Cod: 1153686