header
	figure(id="logo")
		a(href="/"): img(class="img-responsive" src="/images/logo.png")
	h1 
		b Testing: 
		| Casos de pruebas
nav#menu
		ul
			li
				a(href="/")
					span(class="glyphicon glyphicon-home")  Inicio
			li
				a(href="/new" )
					span(class="glyphicon glyphicon-file")  Crear

